<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Киоски с мороженым{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container py-4">

    <nav class="d-flex flex-wrap gap-2 mb-4">
        <a class="btn btn-outline-primary btn-sm" href="/persons/">Люди</a>

        <a class="btn btn-outline-primary btn-sm" href="/children/">Дети</a>

        <a class="btn btn-outline-primary btn-sm" href="/icecreams/">Мороженое</a>

        <a class="btn btn-outline-primary btn-sm" href="/kiosks/">Киоски</a>

        <a class="btn btn-success btn-sm" href="/icecream/create/">
          Создать мороженое
        </a>

        <a class="btn btn-warning btn-sm" href="/icecreams/create/">
            Создать несколько мороженых
        </a>

        <a href="{% url 'upload_document' %}" class="btn btn-warning btn-sm">
            Загрузка документа
        </a>

        <a href="{% url 'document_list' %}" class="btn btn-warning btn-sm">
            Список документов
        </a>

        {% if user.is_authenticated %}

            <span class="btn btn-outline-secondary btn-sm disabled">
                {{ user.username }}
            </span>

            <form
                method="post"
                action="{% url 'logout' %}"
            >
                {% csrf_token %}

                <button class="btn btn-danger btn-sm">
                    Выйти
                </button>
            </form>

        {% else %}

            <a
                href="{% url 'login' %}"
                class="btn btn-primary btn-sm"
            >
                Войти
            </a>

        {% endif %}


    </nav>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>