{% extends 'base.html' %}

{% block content %}

<!-- Hero -->
<div class="text-center p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4">Welcome to Elise's Secret</h1>
    <p class="lead">We sew socks</p>
    <a href="/contacts/" class="btn btn-primary btn-lg">Contact us</a>
</div>

<!-- Карточки -->
<div class="row text-center">

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Sock Types by Length</h5>
                <p class="card-text">No-Show/Liners, Ankle Socks and Quarter Socks</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Specialty & Functional Socks</h5>
                <p class="card-text">Compression Socks, Athletic/Performance Socks and Slipper Socks</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Key Materials</h5>
                <p class="card-text">Cotton, Merino Wool, Bamboo, Synthetics (Nylon/Polyester)</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Support</h5>
                <p class="card-text">24/7 assistance</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}