{% extends 'users/base.html' %}

{% block title %}Вход пользователя{% endblock %}

{% block content %}

<h1 class="mb-3">Вход пользователя</h1>

<form method="POST">

    {% csrf_token %}

    <div class="mb-3">
        <input class="form-control" type="text" name="username" placeholder="Ваше имя пользователя">
    </div>

    <div class="mb-3">
        <input class="form-control" type="password" name="password" placeholder="Пароль">
    </div>

    <div>
        <button class="btn mb-3 btn-primary" type="submit">Войти</button>
    </div>

</form>

<a href="{% url 'users' %}" class="btn btn-secondary">Назад</a>

{% endblock %}