{% extends 'tasks/base.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}

<h1 class="mb-4">Список задач</h1>

<div class="row">

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>Задачи</h5>
                {% for task in tasks %}
                    <a href="{% url 'task_detail' task.id %}" class="btn btn-outline-primary btn-sm mb-1">
                        {{ task.title }}
                    </a><br>
                {% empty %}
                    <p>Нет задач</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>CRUD</h5>
                <a href="{% url 'task_create' %}" class="btn btn-success btn-sm mb-1">Создать</a><br>
                <a href="{% url 'task_update' 1 %}" class="btn btn-warning btn-sm mb-1">Обновить</a><br>
                <a href="{% url 'task_delete' 1 %}" class="btn btn-danger btn-sm">Удалить</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}