<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Список задач</h1>

<h3>Задачи</h3>
<ul>
    <li><a href="{% url 'task_detail' 1 %}">Задача 1</a></li>
    <li><a href="{% url 'task_detail' 2 %}">Задача 2</a></li>
</ul>

<h3>CRUD</h3>
<ul>
    <li><a href="{% url 'task_create' %}">Создать задачу</a></li>
    <li><a href="{% url 'task_update' 1 %}">Обновить задачу 1</a></li>
    <li><a href="{% url 'task_delete' 1 %}">Удалить задачу 1</a></li>
</ul>

<h3>Фильтры</h3>
<ul>
    <li><a href="{% url 'completed_tasks' %}">Выполненные</a></li>
    <li><a href="{% url 'active_tasks' %}">Активные</a></li>
</ul>

<h3>Дата</h3>
<ul>
    <li><a href="/tasks/date/2025/">За 2025 год</a></li>
    <li><a href="/tasks/date/2025/4/">Апрель 2025</a></li>
</ul>

<h3>Пользователь</h3>
<ul>
    <li><a href="/tasks/user/oleg/">Задачи Oleg</a></li>
</ul>

<h3>Пагинация</h3>
<ul>
    <li><a href="{% url 'task_list_paginated' 1 %}">Страница 1</a></li>
    <li><a href="{% url 'task_list_paginated' 2 %}">Страница 2</a></li>
</ul>

<h3>Slug</h3>
<ul>
    <li><a href="{% url 'task_by_slug' 'my-task' %}">Задача по slug</a></li>
</ul>
</body>
</html>