{% extends 'tasks/base.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}

<h1 class="mb-4">Список задач</h1>

<div class="row">

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5>Задачи</h5>
                {% for task in task_list %}
                    <div class="d-flex">
                        <a href="{% url 'task_detail' task.id %}" class="btn btn-outline-primary btn-sm me-auto mb-1">
                            {{ task.title }}
                        </a>
                        <a href="{% url 'task_update' task.id %}" class="btn btn-warning btn-sm me-1 mb-1">Изменить</a>
                        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-sm me-1 mb-1">Удалить</a>
                    </div>
                {% empty %}
                    <p>Нет задач</p>
                {% endfor %}

                <a href="{% url 'task_create' %}" class="btn btn-success btn-sm mt-3">Создать</a><br>

            </div>
        </div>
    </div>


</div>

{% endblock %}