{% extends 'tasks/base.html' %}

{% block title %}Детали задачи{% endblock %}

{% block content %}

<h1 class="mb-3">Детали задачи</h1>

<p class="fs-5">
    <strong>Задача:</strong>
    {{ task.title }}
</p>
<div class="fs-5">
    <strong>Описание:</strong>
    {{ task.description|default:"Нет описания"|linebreaks }}
</div>
<p class="fs-6">Создана: {{ task.created_at|date:"d.m.Y H:i" }}</p>
<p class="fs-6">Статус: {{ task.is_completed|yesno:"Выполнено,Не выполнено" }}
</p>

<a href="{% url 'task_list' %}" class="btn btn-secondary">Назад</a>

{% endblock %}